/* 
===============================================
		WooCommerce Styling
===============================================
*/

/*.woocommerce-page .page-holder > .inner,
.woocommerce .page-holder > .inner {
	padding-top: 40px;
}*/

.woocommerce-result-count {
	margin-bottom: 40px !important;
}

/* Shop item */

.woocommerce ul.products li.product {
	background: #f9f9f9;
	position: relative;
	transition: background-color .3s;
}

	/* Shop Layout */
	
	#page-content .woocommerce-shop-cols-4 li.product:nth-child(4n)  {
		margin-right: 0 !important;
	}
	
	/* 3 Columns */
	
	@media only screen and (min-width: 769px){
	
	#page-content .woocommerce-shop-cols-3 li.product  {
		width: 30.8%;
	}
	
		#page-content .woocommerce-shop-cols-3 li.product:nth-child(3n) {
			margin-right: 0 !important;
		}
		
	}
	
	/* 2 Columns */
	#page-content .woocommerce-shop-cols-2 li.product  {
		width: 48%;
	}
	
		#page-content .woocommerce-shop-cols-2 li.product:nth-child(2n) {
			margin-right: 0 !important;
		}
		

	
	
/* Add to cart button */

	#page-content li.product .overlay-inner {
		top: 50%;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: -8px;
	}
	#page-content ul.products li.product .add_to_cart_button {
		background: #c7b299;
		border-radius: 2px;
		color: #fff;
		padding: 10px 18px;
		font-weight: 400;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	
		#page-content ul.products li.product .add_to_cart_button:hover {
			background: rgba(0,0,0,0.3) !important;
		}
		
		@keyframes spin {
			to { transform: rotate(1turn); }
		}
		
		#page-content ul.products li.product .add_to_cart_button:after {
			margin-top: 2px;
			vertical-align: middle;
		}
		
		#page-content ul.products li.product .add_to_cart_button.loading {
			padding-right: 39px;
		}
		


/* Shop heading */

.product-details-wrap {
	padding: 15px 24px 12px;
}

#page-content ul.products .star-rating,
.woocommerce h1.page-title {
	display: none;
}

#page-content ul.products li.product h3 {
	font-size: 18px;
	padding: 0px;
	margin-bottom: 3px;
	transition: color .3s;
	display: none;
}

	#page-content ul.products li.product-category h3 {
		display: block;
	}
	
	.product-category mark.count {
	    background: none;
	}

	#page-content ul.products li.product h3.vntd-product-title {
		display: block;
	}
	
	.woocommerce ul.products li.product a {
		color: #3e3e3e;
	}

	#page-content ul.products li.product h3:hover {
		color: #c7b299;
	}

	.vntd-product-excerpt {
		color: #707070;
		width: 66%;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 25px;
		display: none;
	}
	
		.vntd-product-excerpt p {
			margin-bottom: 20px;
		}

.product-details-wrap .product-category {
	display: none;
}

#page-content .vntd-product-details {
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	padding: 10px 15px 10px 50px !important;
}

	#page-content .vntd-product-details i {
		font-size: 20px;
	}
	
	#page-content .vntd-product-details {
		display: none;
	}

/*On Sale*/

#page-content .onsale {
	width: auto;
	z-index: 6;
	line-height: 26px;
	border-radius: 2px;
	padding: 0 14px;
	min-height: 2px;
	text-transform: uppercase;
	color: #fff;
	background: #ee7777;
	right: auto;
	left: 12px;
	top: 20px;
	font-size: 13px;
}

/*Shop prices*/

.price del,
.price ins {
	display: inline-block !important;
	margin-right: 6px;
	font-weight: normal !important;
}

	.price ins {
		text-decoration: none !important;
	}

	ul.products li.product .price del {
		color: #d7d7d7;
		font-size: 17px;
		-webkit-font-smoothing: antialiased;
		line-height: 33px;
	}
	
	.woocommerce-layout-grid .product-type-variable .price del {
		display: none !important;
	}

#page-content .price {
	font-size: 16px;
	color: #c7b299;
	margin: 0;
	font-weight: normal;
	line-height: 36px;
}

ul.products .add_to_cart_button {
	clear: both;
	display: inline-block;
}

/* Add to cart products page */

ul.products .product-thumbnail-wrap {
	background: #111;
	position: relative;
	overflow: hidden;
}

	ul.products .product-thumbnail-wrap img {
		margin-bottom: 0 !important;
	}

	ul.products li.product:hover .product-overlay {
		opacity: 1;
	}
	
	ul.products li.product:hover img {
		opacity: 0.3;
	}
	

ul.products .product-overlay {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	text-align: center;
}
	
	.product-overlay-icon {
		border-radius: 100%;
		background: transparent;
		color: #fff;
		font-size: 28px;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		display: inline-block;
		margin: 0 1px;
		transition: all .3s;
	}
	
		.product-overlay-icon.product-overlay-heart {
			line-height: 52px;
		}
	

ul.products li.product .button {
	margin: 0 auto;
	transition: color .3s, background-color .3s, border-color .3s;
	-webkit-transition: color .3s, background-color .3s, border-color .3s;
	-moz-transition: color .3s, background-color .3s, border-color .3s;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
}

ul.products li.product img {
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	position: relative;
	background: #000;
}

	/*ul.products li.product:hover img {
		transform: scale(1.2);
	}*/
	
a.added_to_cart {
	display: none !important;
}

/*Shop Order*/

.woocommerce-ordering select {
	border: 1px solid rgba(0,0,0,0.1);
	background: none;
	outline: none;
}

/* Catalog navigation */

.woocommerce-pagination {
	margin-bottom: 40px;
}

	
	.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
		padding: 7px 10px;
		transition: all .3s;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
	}
	
/*Navigation Cart*/

.nav-cart {
	cursor: pointer;
}

	.nav-cart-content {
		position: relative;
	}

	.nav-menu .nav-cart i {
	  border-radius: 100%;
	  transition: color .5s, border-color .5s;
	  text-align: center;
	  font-size: 22px;
	}
	
		.nav-cart:hover i {
			color: #c7b299;
			border-color: #c7b299;
		}
	
	.woo-cart-count {
		position: absolute;
	    top: 50%;
	    margin-top: -20px;
	    font-size: 9px;
	    font-weight: 500;
	    -webkit-font-smoothing: subpixel-antialiased;
	    right: -10px;
	    background: #C7B299;
	    color: #fff;
	    width: 14px;
	    line-height: normal;
	    height: 14px;
	    line-height: 14px;
	    text-align: center;
	    border-radius: 100%;
	    -webkit-border-radius: 100%;
	    -moz-border-radius: 100%;
	    display: block;
	    font-family: "Raleway", Helvetica, Arial;
	    opacity: 0;
	    transition: opacity .5s;
	}
	
	.nav-cart-active .woo-cart-count {
		opacity: 1;
	}
	
	.nav-cart-products {
		display: none;
		position: absolute;
		right: 20px;
		background: #fff;
		width: 240px;
		padding: 20px 20px;
		border-top: 3px solid #c7b299;	
		box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
		margin-top: 2px;
		cursor: default;
		z-index: 3;
		top: auto;
		margin-top: 0px;
	}
	
		/* Dark Version */
		
		.dropdown-dark .nav-cart-products {
			border-top: 0px;
			box-shadow: none;
			background: #191919;
		}
		
		.dropdown-dark .nav-cart-products li a {
			
			color: #bfbfbf;
		}
		
			.dropdown-dark #woo-nav-cart .cart_list li,
			.dropdown-dark #woo-nav-cart .total {
				border-color: #242424 !important;
			}
		
		/* End dark dropdown for cart items in header */
	
		.nav-cart-products .remove {
			display: none !important;
		}
		
		.style-transparent .nav-cart-products {
			margin-top: 2px;
		}
		
		#navigation_sticky .nav-cart-products {
			top: auto;
			margin-top: -3px;
		}
		
		#woo-nav-cart.vntd-nav-cart .remove {
			display: block !important;
			right: 0;
			top: 20px;
			width: 20px !important;
			height: 20px;
			text-align: center !important;
			line-height: 17px !important;
			left: auto !important;
			font-size: 30px !important;
			/* -webkit-font-smoothing: antialiased; */
			font-weight: 300;
			color: #ADADAD !important;
			transition: color .3s, border-color .3s;
			cursor: pointer;
			position: absolute;
			border-radius: 100%;
			z-index: 5;
		}
		
			#woo-nav-cart .remove:hover {
				color: #f26d7d !important;
				border-color: #f26d7d !important;
			}
		
		#woo-nav-cart .cart_list li,
		#page-content .sidebar-widget.woocommerce li {
			padding: 0;
			margin-bottom: 15px;
			width: 100%;
			list-style: none;
			padding-bottom: 14px;
			border-bottom: 1px solid #f4f4f4;
			position: relative;
			clear: both;
			min-height: 58px;
			line-height: 1.3em;
		}
			#page-content .sidebar-widget.woocommerce li,
			#woo-nav-cart .cart_list li:last-child {
				margin-bottom: 15px;
				float: none;
			}
			
				#page-content .sidebar-widget.woocommerce li.empty {
					margin-bottom: 25px !important;
				}
			
			#woo-nav-cart .cart_list li:last-child  {
				border: 0;
			}
			
			.cart_list li.empty {
				font-size: 14px;
				/*color: #363636;*/
				margin: 10px 0 -15px 0 !important;
				padding: 0 !important;
				min-height: 0 !important;
			}
			
				#woo-nav-cart .cart_list li.empty {
					margin-bottom: 6px !important;
					color: #666;
				}
			
		#woo-nav-cart .cart_list li a,
		#page-content .sidebar-widget.woocommerce li a {
			padding-top: 2px;
			padding: 0;
			-webkit-font-smoothing: antialiased;
			line-height: 1.3em !important;
			text-align: left;
			font-weight: normal;
		}
		
			#woo-nav-cart .cart_list li a {
				margin-left: 0;
				margin-right: 0;
				width: 100%;
				display: block;
				border: 0px;
			}
			
			#woo-nav-cart .cart_list li > a {

			}
		
		#woo-nav-cart .cart_list li img,
		#page-content .sidebar-widget.woocommerce li img {
			width: 54px;
			height: 54px;
			margin-right: 15px;
			margin-left: 0px;
			float: left;
			margin-bottom: 0px;
		}
		
		#woo-nav-cart .quantity,
		#page-content .sidebar-widget.woocommerce .quantity {
			line-height: 14px;
			font-size: 13px;
			margin-top: 6px;
			height: 14px;
			display: block;
			text-align: left;
			opacity: 1;
			color: #c7b299;
		}
		
		#woo-nav-cart .total {
			border-top: 1px solid #f4f4f4;
			border-bottom: 1px solid #f4f4f4;
			clear: both;
			padding-top: 13px;
			font-size: 13px;
			margin-bottom: 14px;
			line-height: 1.4em;
			padding-bottom: 10px;
		}
		
			#woo-nav-cart .total strong {
				-webkit-font-smoothing: antialiased;
			}
		
		#page-content .sidebar-widget.woocommerce .remove {
			display: none;
		}
	
	#woo-nav-cart p.buttons .button {
		margin: 0;
		background: #c7b299;
		font-size: 11px;
		padding: 10px 10px;
		width: 95px;
		text-align: center;
		line-height: 1em !important;
		box-shadow: none;
	}
	
		#woo-nav-cart p.buttons .button,
		#page-content .product .button {
			background: #998675;
		}
		
		#woo-nav-cart p.buttons .button:hover {
			background: #c7b299;
			opacity: 1;
			box-shadow: none;
		}
	
	#woo-nav-cart p.buttons {
		margin: 0px;
	}
	
		#woo-nav-cart .button {
			width: 94.5px;
		}
	
		#woo-nav-cart .button:first-child {
			margin-right: 6px;
		}
	
	#woo-nav-cart i.added {
		color: #C7B299;
	}
	
		.pulsed {
			position: absolute;
			top: 50%;
			margin-top: -22px; 
			margin-left: -9px;
			width: 40px;
			height: 40px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%; 
			-webkit-box-sizing: border-box; 
			-moz-box-sizing: border-box;   
			box-sizing: border-box;
			border: 2px solid #25e1f9;
			opacity: 0;
		 }
		 
		 .pulse-now {
		 	-webkit-animation: pulsed 1s linear 1; 
		 }
		 
		 /* moz */
		@-webkit-keyframes pulsed 
		{       
		  0% {-webkit-transform: scale(0); opacity: 0;}
		  8% {-webkit-transform: scale(0); opacity: 0;}
		  15% {-webkit-transform: scale(0.1); opacity: 1;}
		  30% {-webkit-transform: scale(0.5); opacity: 1;}
		  100% {opacity: 0; -webkit-transform: scale(1);}
		}
		
		@-moz-keyframes pulsed 
		{       
		  0% {-moz-transform: scale(0); opacity: 0;}
		  8% {-moz-transform: scale(0); opacity: 0;}
		  15% {-moz-transform: scale(0.1); opacity: 1;}
		  30% {-moz-transform: scale(0.5); opacity: 1;}
		  100% {opacity: 0; -moz-transform: scale(1);}
		}
	
	
	.woocommerce #page-content .button,
	#page-content .product .button {
		background: #c7b299;
		opacity: 1;
		padding: 11px 12px;
		font-size: 14px;
		color: #fff;
		outline: none;
		
	}
	
		.woocommerce #page-content .widget_shopping_cart .button {
			width: 48%;
			font-size: 13px;
			padding: 12px 12px !important;
			    font-size: 13px !important;
		}
	
		.woocommerce #page-content .button:hover,
		#page-content .product .button:hover{
			/*background: #c7b299;*/
		}
		
		.#page-content .buttons {
			margin-bottom: 30px;
		}
	
		.buttons .button {
			float: left;
		}
		
		.woocommerce #page-content .button.checkout,
		#woo-nav-cart p.buttons .button.checkout {
			float: right;
		}
		
		.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
			border-top: 1px solid #f4f4f4;
			border-bottom: 1px solid #f4f4f4;
			padding: 11px 0;
			margin-bottom: 17px;
			margin-top: -12px;
			  
		}
		
		.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total strong {
			font-size: 14px;
			font-weight: normal;
		}
		
		.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total .amount {

			  font-size: 16px;

			  font-weight: normal;
		}
	
	
	/* Single Product */
	
	.woocommerce .quantity .qty {
		width: 3.631em;
		text-align: center;
		font-size: 14px;
		height: 32px;
		font-weight: bold;
		outline: 0;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.15);
	}
	
	/* Related Products */
	
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 22.05%;
	}
	
	.woocommerce li.product.last {
		margin-right: 0 !important;
	}
	
	.related h2,
	.woocommerce-tabs h2 {
		font-size: 24px;
	}
		
	/*Single Product Tabs*/
	
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding-top: 6px !important;
		padding: 0;
		margin-bottom: 0;
	}
	
		.woocommerce #page-content div.product .woocommerce-tabs ul.tabs:before {
			content: none;
			display: none;	
		}
		
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		background: transparent;
		margin-right: 1px;
		padding: 0;
		border: 0;
		
		float: left;
	}
	
		.woocommerce div.product .woocommerce-tabs ul.tabs li a {
			color: #acacac;
			font-weight: normal;
			font-size: 13px;
			text-transform: uppercase;
			padding: 10px 25px;
			background: rgba(0,0,0,0.06);
			border-top-left-radius: 2px;
			  border-top-right-radius: 2px;
			margin-right: 5px;
			  margin-left: 5px;
			transition: all .3s;
			font-weight: bold;
		}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		color: #fff;
	}
	
		
		
		.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a {
			background: rgba(0,0,0,0.08);
			color: #acacac !important;	
		}
		
		.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
			color: #fff !important;
			background: #c7b299;
		}
		
		.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
		.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
		.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
		.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
			display: none !important;
			content: none !important;
		}
		
		.woocommerce div.product .woocommerce-tabs ul.tabs:before {
			border-color: rgba(0,0,0,0.1);
		}
		
		.woocommerce #page-content div.product .woocommerce-tabs .panel {
			padding: 30px 0px 5px;
		}
		
	/* Reviews */
	
	#reviews .description {
		margin: 0;
		text-align: left;
	}
	
	#reviews #reply-title {
		font-size: 24px;
		margin-bottom: 15px;
		margin-top: 10px;
	}
	
	#reviews label {
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	
	#reviews textarea,
	#reviews input {
		outline: 0;
		background: #fafafa;
		border: 1px solid #eeeeee;
		padding: 15px 15px 12px;
	}
	
	.woocommerce #review_form #respond .form-submit input {
		display: inline-block;
		width: auto;
	}
	
	.woocommerce .panel {
		box-shadow: none;
	}
	
	/* Cart Page */
	
	.woocommerce table.shop_table {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
	
	/*Checkout Page*/
	
	.woocommerce-page textarea,
	.woocommerce-page input[type="text"] {
		outline: 0;
		background: #fafafa;
		border: 1px solid #eeeeee;
		padding: 15px 15px 12px;
	}
	
	.woocommerce-page .woocommerce {
		margin-bottom: 20px;
	}
	
/*Sidebar Widgets*/

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background: #434343;
}


.sidebar-widget.woocommerce {
	margin-bottom: 30px;
}

#page-content .sidebar-widget.woocommerce li a {
	color: #444;
}

	#page-content .sidebar-widget.woocommerce li a:hover {
		color: #c7b299;
	}

	#page-content .sidebar-widget.woocommerce li ul {
		margin-bottom: 0;
		margin-top: 14px;
	}
	
	#page-content .sidebar-widget.woocommerce li li:last-child {
		margin: 0;
		padding: 0;
	}

#page-content .sidebar-widget.woocommerce .amount,
#page-content .sidebar-widget.woocommerce del,
#page-content .sidebar-widget.woocommerce ins {
	color: #c7b299;
}

.widget_shopping_cart_content {
	overflow: hidden;
}

/* Veented WooCommerce Heading (Filters + Layout Switcher) */

#vntd-woocommerce-heading {
	margin-bottom: 30px;
}

#vntd-woocommerce-heading:after {
	content: "";
	clear: both;
	display: block;
}

/* Advanced Filters */

#vntd-woocommerce-filters {
	z-index: 9;
	float: left;
}

	#vntd-woocommerce-filters:after {
		content: "";
		clear: both;
		display: block;
	}

	#vntd-woocommerce-filters li {
		list-style: none;
	}

	#vntd-woocommerce-filters > li {
		display: inline-block;
		float: left;
		position: relative;
		width: 240px;
		border: 1px solid #ebebeb;
		margin-right: 10px;
		line-height: 40px;
		padding: 0px 0px 0px 20px;
		cursor: pointer;
		transition: background-color .3s;
	}
	
		#vntd-woocommerce-filters strong {
			color: #444;
			font-weight: normal;
		}
	
		#vntd-woocommerce-filters > li:hover ul {
			display: block;
		}
		
		#vntd-woocommerce-filters > li.product-count:hover,
		#vntd-woocommerce-filters > li.product-orderby:hover {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		
		#vntd-woocommerce-filters > li:hover {
			background-color: #fafafa;
		}
		
		#vntd-woocommerce-filters > li i.fa-angle-down {
			float: right;
			height: 40px;
			width: 40px;
			display: block;
			border-left: 1px solid #ebebeb;
			text-align: center;
			line-height: 42px;
			font-size: 20px;
		}
	
	#vntd-woocommerce-filters li.product-order {
		width: 40px;
		padding: 0;
		text-align: center;
		font-size: 22px;
	}
		
		#vntd-woocommerce-filters li.product-order i {
			border: 0 !important;
			margin-right: -2px;
		}
	
		#vntd-woocommerce-filters li.product-order a {
			color: #c2c2c2;
		}
	
	#vntd-woocommerce-filters li ul {
		display: none;
		position: absolute;
		left: -1px;
		right: -1px;
		z-index: 7;
		margin: 0;
		background: #fff;
		border: 1px solid #ebebeb;
		border-top: 0px;
	}
	
		#vntd-woocommerce-filters li ul li a {
			padding: 0 20px;
			width: 100%;
			display: block;
			border-top: 1px solid #f6f6f6;
			color: #999;
		}
		
		#vntd-woocommerce-filters li ul li:first-child a {
			border-top-color: #ebebeb;
		}
		
/* Layout Switcher */

#vntd-woocommerce-layout-switcher {
	float: right;
}

	#vntd-woocommerce-layout-switcher li {
		float: left;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 14px;
		border: 1px solid #ebebeb;
		color: #c2c2c2;
		list-style: none;
		transition: color .3s, background-color .3s, border-color .3s;
		margin-left: 10px;
		cursor: pointer;
	}
	
		#vntd-woocommerce-layout-switcher li.active-item,
		#vntd-woocommerce-layout-switcher li:hover {
			color: #fff;
			background-color: #c7b299;
			border-color: #c7b299;
		}
		
/* Shop Style Layout List */

@media only screen and (min-width: 769px){

#page-content #vntd-woocommerce.woocommerce-layout-list li.product {
	float: none;
	margin-right: 0 !important;
	width: 100%;
	border-top-right-radius: 6px;
}

	#page-content #vntd-woocommerce.woocommerce-layout-list li.product:after {
		content: "";
		clear: both;
		display: block;
	}
	
	#page-content #vntd-woocommerce.woocommerce-layout-list li.product img {
		padding: 0;
		width: 270px;
		height: 270px;
	}

#page-content #vntd-woocommerce.woocommerce-layout-list .product-thumbnail-wrap {
	float: left;
}


#page-content #vntd-woocommerce.woocommerce-layout-list .product-details-wrap {
	margin-left: 300px;
	padding-left: 0;
	padding-top: 25px;
}

#page-content #vntd-woocommerce.woocommerce-layout-list h3 {
	font-size: 24px;
}

#page-content #vntd-woocommerce.woocommerce-layout-list .product-category,
#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-excerpt,
#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-rating .star-rating {
	display: block;
}

#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-details {
	display: inline-block;
}

#page-content #vntd-woocommerce.woocommerce-layout-list .product-category {
	color: #c2c2c2;
	margin-bottom: 13px;
}

#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-price {
	position: absolute;
	right: 10px;
	top: 10px;
	bottom: 10px;
	width: 21%;
	background: #fff;
	border-radius: 8px;
}

	#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-price .price,
	#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-rating {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -67px;
		font-size: 30px;
	}
	
	#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-rating {
		margin-top: 49px;
	}
	
		#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-product-rating .star-rating {
			margin: 0 auto;
			font-size: 16px;
		}		

#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-add-to-cart-wrap {
	width: 21%;
	right: 20px;
	margin-right: -10px;
	top: 50%;
	margin-top: -14px;
	position: absolute;
	text-align: center;
}

	#page-content #vntd-woocommerce.woocommerce-layout-list .vntd-add-to-cart-wrap .add_to_cart_button {
		margin: 0 auto;
		width: auto;
		padding: 0 15px 0 50px !important;
		position: relative;
		right: auto;
		bottom: auto;
		text-indent: 0px;
	}

	#page-content #vntd-woocommerce.woocommerce-layout-list  .add_to_cart_button:before {
		right: auto;
		left: 0px;
		top: 0px;
		bottom: 0px;
		width: 38px;
		background: rgba(0,0,0,0.1);
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	
	/* Sale Product */
	
	#page-content #vntd-woocommerce.woocommerce-layout-list li.product.sale del {
		display: block !important;
		margin-bottom: -6px;
	}
	
	#page-content #vntd-woocommerce.woocommerce-layout-list li.product.sale .price {
		margin-top: -80px;
	}
	
	#page-content #vntd-woocommerce.woocommerce-layout-list li.product.sale .vntd-product-rating {
		margin-top: 58px;
	}
	
	#page-content #vntd-woocommerce.woocommerce-layout-list li.product.sale > a+div {
		margin-top: -3px !important;
	}
	
	/* Variables */
	
	#page-content #vntd-woocommerce.woocommerce-layout-list li.product.product-type-variable .price {
		font-size: 18px;
	}
	
		#page-content #vntd-woocommerce.woocommerce-layout-list li.product.product-type-variable .price ins {
			margin: 0;
		}
		
}
		
/* Widgets */

/* Pricing Filter */

#page-content .widget_price_filter .ui-slider .ui-slider-range,
#page-content .widget_price_filter .ui-slider .ui-slider-handle {
	background: #C7B299;
}

#page-content .widget_price_filter .ui-slider .ui-slider-handle {
	border: 3px solid #2f2928;
}

	#page-content .widget_price_filter .price_slider_wrapper .ui-widget-content {
		background: #ebebeb;
	}
	
	#page-content .price_slider_amount .button {
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 25px;
		margin-top: 25px;
		font-size: 13px !important;
		background: #c7b299;
	}
	
		#page-content .price_slider_amount .button:hover {
			background: #c7b299;
		}
	
	#page-content .price_slider_wrapper {
		position: relative;
		padding-top: 55px;
	}
	
	#page-content .price_label {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		border: 1px solid #ebebeb;
		border-radius: 3px;
		line-height: 32px;
		font-size: 14px;
		color: #959595;
		
	}
	
		#page-content .price_label span {
			font-weight: normal;
			color: #c7b299;
		}
		
		#page-content .sidebar-style-alternative .price_label {
			background: #fff;
		}
		
/* Search Products */

#page-content .widget_product_search .screen-reader-text {
	display: none;
}

	#page-content .woocommerce-product-search input[type="submit"] {
		text-indent: -9999px;
		z-index: 2;
	}
	
	#page-content .woocommerce-product-search:before {
		font-family: FontAwesome;
		  -webkit-font-smoothing: antialiased;
		  content: "\f002";
		  text-indent: 0px;
		  position: absolute;
		  right: 0;
		  z-index: 1;
		  width: 40px;
		  text-align: center;
		  line-height: 40px;
		  font-size: 16px;
		  color: #e1e1e1;
		  transition: color .3s;
	}
	
		#page-content .woocommerce-product-search:hover:before {
			color: #666 !important;
		}
		
	#page-content .sidebar-style-alternative input[type=search] {
		border-radius: 8px;
		border: 0px;
		background: transparent;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
		#page-content .sidebar-style-alternative .woocommerce-product-search:before {
			color: #dedede;
			line-height: 50px;
		}
	
/* Single Product */


/* Product Title & Pricing */


.woocommerce.single-product #page-content .summary .price {
	font-size: 38px;
	margin-bottom: 20px;
}

	.woocommerce.single-product #page-content .single_add_to_cart_button {
		margin: 0 auto;
		width: auto;
		padding: 0 20px;
		position: relative;
		right: auto;
		bottom: auto;
		text-indent: 0px;
		line-height: 42px;
		font-size: 13px;
		text-transform: uppercase;
	}
	
	.woocommerce.single-product #page-content .quantity .qty {
		height: 42px;
		border-color: #ebebeb;
		margin-right: 6px;
	}


.woocommerce.single-product #page-content h1.product_title {
	margin-bottom: 12px;
}

.woocommerce #page-content .woocommerce-product-rating {
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 16px;
}

	/* Borders */
	
	div[itemprop="offers"] {
	   border-bottom: 1px solid #f1f1f1;
	   margin-bottom: 20px;
	}
	
	.woocommerce #page-content .entry-summary .cart {
		border-bottom: 1px solid #f1f1f1;
		border-top: 1px solid #f1f1f1;
		padding: 25px 0;
	}

.woocommerce #page-content .star-rating:before {
	content: "\53\53\53\53\53";
	color: #e1e1e1;
}

	.woocommerce #page-content .star-rating span {
		color: #998675;
	}

	.woocommerce.single-product #page-content .star-rating {
		font-size: 17px;
		margin-top: 4px;
	}
	
	.woocommerce.single-product #page-content .woocommerce-review-link {
		color: #b1b1b1;
		font-size: 12px;
	}
	
		.woocommerce.single-product #page-content .woocommerce-review-link:hover {
			color: #c7b299;
		}
		
		.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating {
			margin-top: 3px;
			color: #ccc;
			font-size: 13px;
			margin-bottom: 4px;
		}
		
	/* Reviews */
	
	.woocommerce.single-product #page-content #reviews #comments .avatar {
		width: 70px;
		border-radius: 0px;
		border: 0;
		padding: 0;
	}
	
	.woocommerce.single-product #page-content #reviews #comments .comment-text {
		margin-left: 90px;
		background: transparent;
		border: 1px solid #f1f1f1;
		position: relative;
		padding: 20px 20px 2px;
		border-radius: 0px;
	}
	
	#page-content #reviews #comments .meta {
		color: #999;
		font-size: 13px;
		margin-bottom: 5px;
	}
	 #reviews #comments .meta strong {
		font-weight: normal;
	}
	
	#reviews .description {
		font-size: 14px;
	}
	
	#page-content .comment-form-rating .stars {
		margin-bottom: 20px !important;
	}
	
	#page-content .comment-form-rating .stars a {
		border: 0;
		color: #f7941d;
	}
		
	

/* Product Gallery */

#page-content .product .thumbnails {
	padding: 0 !important;
	position: relative;
	margin-top: 8px;
}

	#page-content .product .thumbnails.owl-carousel {
		padding: 0 31px !important;
	}

	#page-content .product .thumbnails a {
		width: 24.25% !important;
		margin-right: 1% !important;
		clear: none !important;
		transition: opacity .3s;
	}
	
		#page-content .product .thumbnails a:hover {
			opacity: .7;
		}
	
		#page-content .product .thumbnails a:nth-child(4) {
			margin-right: 0px !important;
		}
		
		#page-content .product .thumbnails a:nth-child(5),
		#page-content .product .thumbnails a:nth-child(6),
		#page-content .product .thumbnails a:nth-child(7),
		#page-content .product .thumbnails a:nth-child(8),
		#page-content .product .thumbnails a:nth-child(9) {
			display: none;
		}
	
	#page-content .product .thumbnails .owl-item a {
		width: 100% !important;
		margin-bottom: 0 !important;
		display: block !important;
	}
	
	#page-content .product .thumbnails .owl-nav {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	
	#page-content .product .thumbnails .owl-nav > div {
		position: absolute;
		height: auto;
		background: #f2f2f2;
		width: 27px;
	}
	
		#page-content .product .thumbnails .owl-nav > div:before {
			position: absolute;
			top: 50%;
			margin-top: -14px;
			color: #989898;
			font-size: 20px;
		}
		
		#page-content .product .thumbnails .owl-nav > div:hover {
			background: #363636;
			color: #fff;
		}
		
			#page-content .product .thumbnails .owl-nav > div:hover:before {
				color: #fff;
			}
			
			#page-content .product .thumbnails .owl-stage-outer {
				z-index: 3;
			}
			
			
	
	#page-content .product .thumbnails .owl-prev {
		left: 0;
		top: 0;
		bottom: 0;
		border-radius: 4px 0px 0px 4px;
	}
	
	#page-content .product .thumbnails .owl-next {
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 0px 4px 4px 0px;
	}

/*Mobile Devices*/

@media only screen and (max-width: 768px) {

	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 48%;
		float: left;
		clear: both;
		margin: 0 0 2.992em;
	}
	
}


@media only screen and (max-width: 800px) {
	
	.woocommerce .page-layout-sidebar_right ul.products li.product,
	.woocommerce .page-layout-sidebar_left ul.products li.product {
		width: 48%;
		float: left;
		clear: none;
		margin: 0 0 2.992em;
	}
	
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n) {
		float: right;
	}
	
}
