
/* Text Colors */

	.colored,
	#prices .prices .p-table.active h1,
	#prices .prices .p-table.active h3,
	#address .address-soft a.mail-text:hover,
	.white-nav .nav-menu ul.dropdown-menu li a:hover,
	.custom_boxes .box:hover .left-icon a,
	.white-nav .nav-menu ul.dropdown-menu li.active a,
	footer a:hover,
	section.page_header .page_header_inner .p_head_right a.p-head-button:hover,
	body.dark-layout section.page_header .page_header_inner .p_head_right a.p-head-button:hover,
	#blog .details .post-info a.post-item:hover,
	.dark-nav .nav-menu ul.dropdown-menu li a:hover,
	.dark-nav .nav-menu ul.dropdown-menu li.active a,
	a.text-button:hover{
		color: lightslategray;
	}

	.nav-menu ul li a:hover,
	.nav-menu ul li.active a{
		color:lightslategray;
	}

/* Background Colors */

	::selection,
	.colored-bg,
	section.page-content .page-content-inner a.page-content-button:hover,
	#features ul.features-mobile li.feature-box:hover a.box-icon,
	#featured-works .works .item .featured-ball:hover,
	#featured-works .feature-second-area .feature-button:hover,
	#prices .prices .p-table.active a.p-button,
	#prices .prices .p-table a.p-button:hover,
	a.active-colored,
	.blocked,
	.modal .modal-inner a.close:hover,
	#portfolio .portfolio a.portfolio-view-more:hover,
	body.dark-layout #portfolio .portfolio a.portfolio-view-more:hover,
	#team .team .team-boxes .item .member-details .details a.member-detail-button:hover,
	#blog .blog_sidebar .bar a.tag:hover,
	.post-form form button.contact-form-button:hover,
	ul.pagination li.active a,
	ul.pagination li.active a:hover,
	body.dark-layout ul.pagination li.active a,
	body.dark-layout ul.pagination li.active a:hover,
	#contact .contact form button.contact-form-button:hover{
		background-color:lightslategray;
	}

/* Border Colors */

	.colored-border,
	#features ul.features-mobile li.feature-box:hover a.box-icon:after,
	a.text-button:hover,
	#team .team .team-boxes .item .member-details .details a.member-detail-button:hover,
	#blog .blog_sidebar .bar a.tag:hover,
	ul.pagination li.active a,
	ul.pagination li.active a:hover,
	.bs-callout-north,
	.custom_boxes .box:hover .left-icon a{
		border-color:lightslategray;
	}

	.tabs .nav-tabs li.active a,
	.nav-menu ul.dropdown-menu{
		border-top-color:lightslategray;
	}